:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(52,4,20,255);
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: rgba(52,4,20,255);
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 150px;
    height: auto;
}
.icono {
    width: 120px;
    height: auto;
}

.eslogan {
    width: 200px;
    height: auto;
    margin-left: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    flex-grow: 1;
    max-width: 400px;
    margin: 0 20px;
}

.search-box {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.modo-oscuro {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #222;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.modo-oscuro:hover {
    background-color: #444;
}

.hero {
    background-image: url(../img/cartel.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 120px 20px;
    width: 100%;
    transition: background-image 2s;
}
.novedades {
    padding: 40px;
    text-align: center;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: auto;
}
.carousel {
    overflow: hidden;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}
.libro {
    flex: 0 0 33.33%;
    text-align: center;
    padding: 10px;
}
.libro img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}
.add-to-cart {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}
.add-to-cart:hover {
    background-color: #e63e00;
}
.carousel-btn {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}
